@font-face {
	font-family: "Paint";
	src: url("assets/fonts/paint.ttf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Paint", monospace;
	letter-spacing: -.1em;
}
:root {
	--red: #f45c28;
	--yellow: #ffb800;
	--green: #98e079;
	--blue: #00d6f5;
	--purple: #ac6aff;
	--pink: #fb8bd3;
	--black: #4d4d4d;
	--white: #f2f2f2;
	--primary: var(--white);
	--color1: hsl(0, 0%, 90%);
	--color2: hsl(0, 0%, 85%);
	--color3: hsl(0, 0%, 80%);
	--color4: hsl(0, 0%, 70%);
	--top: 32px;
	--right: 0px;
	--bottom: 52px;
	--left: 0px;
}

.container {
	width: 100vw;
	height: 100dvh;
	position: relative;
	overflow: hidden;
	background-color: var(--black);
}


.sizer {
	position: absolute;
	top: 32px;
	left: 2px;
	right: 2px;
	bottom: 48px;
	background-image: linear-gradient(45deg, var(--white) 25%, transparent 25%), linear-gradient(-45deg, var(--white) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--white) 75%), linear-gradient(-45deg, transparent 75%, var(--white) 75%);
	background-size: 8px 8px;
	background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
	opacity: .5;
	display: none;
	pointer-events: none;
}
.sizer[data-pos='top'] {
	display: block;
	height: calc(calc(100dvh - calc(var(--top) + var(--bottom))) * .5);
}
.sizer[data-pos='right'] {
	display: block;
	width: calc(calc(100vw - calc(var(--left) + var(--right))) * .5);
	transform: translateX(calc(100% + 4px));
}
.sizer[data-pos='bottom'] {
	display: block;
	height: calc(calc(100dvh - calc(var(--top) + var(--bottom))) * .5);
	transform: translateY(calc(100% + 4px));
}
.sizer[data-pos='left'] {
	display: block;
	width: calc(calc(100vw - calc(var(--left) + var(--right))) * .5);
}

/* Tasbar */
.taskbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 30px;
	background-color: var(--white);
	border: 2px outset var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	color: var(--black);
	z-index: 99999999;
	white-space: nowrap;
	gap: 20px;
	overflow-x: scroll;
}
.title {
	font-size: 12px;
	line-height: 1em;
	text-transform: uppercase;
}
.title a {
	text-decoration: none;
	color: var(--black);
}
.title a:active {
	opacity: .5;
}
#clock {
	font-size: 12px;
	line-height: 1em;
}

/* Dock */
.dock {
	position: absolute;
	bottom: 4px;
	left: calc(50% - 4px);
	transform: translateX(calc(-50% + 4px));
	max-width: calc(100vw - 8px);
	display: flex;
	gap: 4px;
	align-items: stretch;
	z-index: 99999999;
	padding: 4px;
	border-radius: 4px;
	background-color: var(--white);
	border: 2px outset var(--white);
}
.dock-item {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: var(--black);
	border: 2px outset rgba(0,0,0,0);
	padding: 4px 8px;
	cursor: pointer;
	color: var(--black);
	border-radius: 4px;
	fill: var(--black);
	position: relative;
}
.dock-item:hover {
	border: 2px outset var(--white);
	background-color: white;
}
.dock-item:active {
	border: 2px inset var(--white);
	background-color: var(--white);
	color: var(--black);
}
.dock-icon {
	aspect-ratio: 1/1;
	height: 100%;
}
.dock-text {
	text-align: center;
	font-size: 10px;
	line-height: 1em;
}
@media screen and (max-width: 900px) {
	.dock-text {
		display: none;
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: calc(100% + 12px);
		padding: 4px;
		border-radius: 4px;
		background-color: var(--white);
		border: 2px outset var(--white);
	}
	.dock-item:hover .dock-text {
		display: block;
	}
}
.dock-item-red {
	background-color: var(--red);
	border: 2px outset var(--red);
}
.dock-item-blue {
	background-color: var(--blue);
	border: 2px outset var(--blue);
}
.dock-item-purple {
	background-color: var(--purple);
	border: 2px outset var(--purple);
}
.dock-item-yellow {
	background-color: var(--yellow);
	border: 2px outset var(--yellow);
}
.dock-item-green {
	background-color: var(--green);
	border: 2px outset var(--green);
}
.dock-item-pink {
	background-color: var(--pink);
	border: 2px outset var(--pink);
}
.dock-divider {
	flex-shrink: 0;
	height: 15px;
	align-self: center;
	border: 2px inset var(--white);
	margin: 0 6px 0 8px;
}
.dock-divider[data-active='0'] {
	display: none;
}
.dock-indicators {
	display: flex;
	gap: 4px;
	align-items: center;
	overflow-x: scroll;
	border: 2px inset var(--white);
	background-color: rgba(0,0,0,.1);
	border-radius: 20px;
	height: 30px;
	min-width: 30px;
	padding: 2px;
}
.dock-indicators[data-active='0'] {
	display: none;
}
.dock-indicator {
	flex-shrink: 0;
	height: 100%;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--black);
	text-align: center;
	font-size: 10px;
	line-height: 1em;
	padding-right: 1px;
	padding-top: .5px;
}
.dock-indicator[data-color='red'] {
	background-color: var(--red);
	border: 2px outset var(--red);
}
.dock-indicator[data-color='blue'] {
	background-color: var(--blue);
	border: 2px outset var(--blue);
}
.dock-indicator[data-color='purple'] {
	background-color: var(--purple);
	border: 2px outset var(--purple);
}
.dock-indicator[data-color='yellow'] {
	background-color: var(--yellow);
	border: 2px outset var(--yellow);
}
.dock-indicator[data-color='green'] {
	background-color: var(--green);
	border: 2px outset var(--green);
}
.dock-indicator[data-color='pink'] {
	background-color: var(--pink);
	border: 2px outset var(--pink);
}
.dock-indicator[data-minimized='1'] {
	opacity: .4;
	color: var(--white);
	border-style: solid !important;
}
.dock-indicator[data-active='1'] {
	border-style: inset;
}
.dock-indicator:hover {
	opacity: 1;
	background-color: white;
	border: 2px outset var(--white);
}
.dock-indicator:active {
	background-color: var(--white);
	border: 2px inset var(--white);
}

/* Windows */
.window {
	position: absolute;
	padding: 4px;
	display: grid;
	grid-template-rows: 20px 1fr;
	background-color: var(--white);
	border: 2px outset var(--white);
	transition: .2s, z-index 0s;
	border-radius: 4px;
	gap: 4px;
}
.window[data-reposition='1'] {
	transition: none;
}
.window[data-active='1'] {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.window-content {
	border: 2px inset var(--white);
	background-color: var(--black);
}
.window-titlebar {
	display: flex;
	gap: 2px;
	justify-content: space-between;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.window-titlebar-indicator {
	background-color: var(--black);
	color: var(--white);
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 10px;
	line-height: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 1px;
	padding-top: .5px;
	flex-shrink: 0;
	border-radius: 50%;
}
.window-titlebar-indicator[data-color='red'] {
	color: var(--red);
}
.window-titlebar-indicator[data-color='blue'] {
	color: var(--blue);
}
.window-titlebar-indicator[data-color='purple'] {
	color: var(--purple);
}
.window-titlebar-indicator[data-color='yellow'] {
	color: var(--yellow);
}
.window-titlebar-indicator[data-color='pink'] {
	color: var(--pink);
}
.window-titlebar-indicator[data-color='green'] {
	color: var(--green);
}
.window-title {
	flex: 1 1 auto;
	gap: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
	fill: var(--black);
	color: var(--black);
}
.window-title:active {
	cursor: grabbing;
}
.window-title[data-dragging='1'] {
	color: var(--white);
	fill: var(--white);
	background-image: linear-gradient(45deg, var(--black) 25%, transparent 25%), linear-gradient(-45deg, var(--black) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--black) 75%), linear-gradient(-45deg, transparent 75%, var(--black) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px; 
}
.window-title:hover {
	color: var(--white);
	fill: var(--white);
	background-image: linear-gradient(45deg, var(--black) 25%, transparent 25%), linear-gradient(-45deg, var(--black) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--black) 75%), linear-gradient(-45deg, transparent 75%, var(--black) 75%);
	background-size: 2px 2px;
	background-position: 0 0, 0 1px, 1px -1px, -1px 0px;  
}
.window-title-icon {
	height: 100%;
}
.window-title-name {
	font-size: 12px;
	padding-top: .2em;
}
.window-btn {
	flex: 0 0 auto;
	aspect-ratio: 1/1;
	height: 100%;
	border: 2px outset var(--white);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--black);
}
.window-btn:hover {
	fill: var(--white);
}
.window-btn:active {
	fill: var(--black);
	flex: 0 0 auto;
	aspect-ratio: 1/1;
	border: 2px inset var(--white);
}
.window-btn svg {
	height: 100%;
}

/* Window transitions */
.minimized {
	top: 100% !important;
	left: 25% !important;
	width: 50% !important;
	height: 50% !important;
	transform: scale(0);
	transition: .5s;
	pointer-events: none;
}

/* Colored windows */
.window[data-color='red'] {
	background-color: var(--red);
	border: 2px outset var(--red);
}
.window[data-color='red'] .window-content {
	border: 2px inset var(--red);
}
.window[data-color='red'] .window-btn {
	border: 2px outset var(--red);
}
.window[data-color='red'] .window-btn:active {
	border: 2px inset var(--red);
}

.window[data-color='blue'] {
	background-color: var(--blue);
	border: 2px outset var(--blue);
}
.window[data-color='blue'] .window-content {
	border: 2px inset var(--blue);
}
.window[data-color='blue'] .window-btn {
	border: 2px outset var(--blue);
}
.window[data-color='blue'] .window-btn:active {
	border: 2px inset var(--blue);
}

.window[data-color='purple'] {
	background-color: var(--purple);
	border: 2px outset var(--purple);
}
.window[data-color='purple'] .window-content {
	border: 2px inset var(--purple);
}
.window[data-color='purple'] .window-btn {
	border: 2px outset var(--purple);
}
.window[data-color='purple'] .window-btn:active {
	border: 2px inset var(--purple);
}

.window[data-color='yellow'] {
	background-color: var(--yellow);
	border: 2px outset var(--yellow);
}
.window[data-color='yellow'] .window-content {
	border: 2px inset var(--yellow);
}
.window[data-color='yellow'] .window-btn {
	border: 2px outset var(--yellow);
}
.window[data-color='yellow'] .window-btn:active {
	border: 2px inset var(--yellow);
}

.window[data-color='green'] {
	background-color: var(--green);
	border: 2px outset var(--green);
}
.window[data-color='green'] .window-content {
	border: 2px inset var(--green);
}
.window[data-color='green'] .window-btn {
	border: 2px outset var(--green);
}
.window[data-color='green'] .window-btn:active {
	border: 2px inset var(--green);
}

.window[data-color='pink'] {
	background-color: var(--pink);
	border: 2px outset var(--pink);
}
.window[data-color='pink'] .window-content {
	border: 2px inset var(--pink);
}
.window[data-color='pink'] .window-btn {
	border: 2px outset var(--pink);
}
.window[data-color='pink'] .window-btn:active {
	border: 2px inset var(--pink);
}

/* Window resizers */
.window-resize {
	position: absolute;
}
.window-resize-topleft {
	left: -4px;
	top: -4px;
	height: 12px;
	width: 12px;
	cursor: nw-resize;
}
.window-resize-top {
	left: 8px;
	right: 8px;
	top: -4px;
	height: 10px;
	cursor: n-resize;
}
.window-resize-topright {
	right: -4px;
	top: -4px;
	height: 12px;
	width: 12px;
	cursor: ne-resize;
}
.window-resize-right {
	right: -4px;
	top: 8px;
	bottom: 8px;
	width: 10px;
	cursor: e-resize;
}
.window-resize-bottomright {
	right: -4px;
	bottom: -4px;
	height: 12px;
	width: 12px;
	cursor: se-resize;
}
.window-resize-bottom {
	left: 8px;
	right: 8px;
	bottom: -4px;
	height: 10px;
	cursor: s-resize;
}
.window-resize-bottomleft {
	left: -4px;
	bottom: -4px;
	height: 12px;
	width: 12px;
	cursor: sw-resize;
}
.window-resize-left {
	left: -4px;
	top: 8px;
	bottom: 8px;
	width: 10px;
	cursor: w-resize;
}